@import "../style/base.css";
$colorSpan: #f16d7f;

* {
    box-sizing: content-box;
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    display: flex;
    flex-direction: column;

    &__box {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 40px;

        &__link {
            font-size: 14px;
            line-height: 33px;
            font-weight: 400;
            color: #6f6e6e;

            &:hover {
                color: #f16d7f;
                transition: 2ms;

            }
        }
    }

    &__tit {
        margin-top: 20px;
        padding-top: 10px;
        padding-left: 10px;

        height: 37px;
        width: 200px;
        text-align: left;
        border-bottom: 1px solid #6f6e6e;
        border-left: 5px solid #f16d7f;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #6f6e6e;

        &__svg {
            float: right;

            &:hover {
                transition: 1ms;
                fill: #f16d7f;
                transform: rotate(180deg);
            }
        }

        &:focus {
            color: #f16d7f;
            transition: 3ms;

        }
    }
}

.product {
    width: 846px;

    &__block__top {
        display: flex;
        gap: 70px;

        &_col {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #6f6e6e;
            padding-bottom: 46px;

            &_range {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                line-height: 20px;
                font-weight: 700;
                text-transform: uppercase;
                color: #6f6e6e;
                padding-bottom: 46px;
                gap: 30px;
                width: 262px;

                &_block {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                &_par {
                    font-family: 'Open Sans';
                    font-size: 14px;
                    line-height: 26px;
                    font-weight: 400;
                    color: #6f6e6e;
                }
            }


            &_par {
                font-size: 14px;
                line-height: 26px;
                font-weight: 400;
                color: #6f6e6e;
                padding-top: 25px;
            }

            &_size {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                width: 230px;
                padding-top: 20px;

                svg {
                    padding-right: 10px;

                    &:hover {
                        fill: #f16d7f;
                    }
                }

                &__item {
                    font-family: 'Open Sans';
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #6f6e6e;
                }
            }
        }

        &_line {
            width: 846px;
            height: 50px;
            background-color: #f3f3f3;
            display: flex;
            flex-direction: row;
            gap: 80px;
            align-items: center;
            justify-content: flex-start;

            &__block {
                display: flex;
                flex-direction: row;
                gap: 30px;
                width: 153px;
                height: 30px;
                margin-left: 20px;
                padding-left: 20px;
                background-color: #ffffff;
                border: 1px solid #ebebeb;
                text-align: center;
                font-size: 14px;
                line-height: 26px;
                font-weight: 400;
                color: #6f6e6e;

                &__right {
                    padding-left: 20px;
                    border-left: 1px solid #6f6e6e;

                    // svg {
                    //     float: right;
                    // 
                    // display: grid;
                    // grid-template-columns: repeat(4, 240px);
                    // grid-template-rows: repeat(2, 360px);
                    // gap: 60px;
                    // align-items: start;
                    // justify-items: center;
                    // justify-content: center;}
                }
            }
        }
    }
}

.catalog {
    &__card {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 230px);
        grid-template-rows: repeat(3, 340px);
        gap: 60px;
        align-items: start;
        justify-items: center;
        justify-content: center;

        &__but {
            display: block;
            z-index: 5;
            text-decoration: none;
            position: absolute;
            width: 123px;
            height: 39px;
            background-image: url("./img/c1.png");
            block-size: cover;
            background-color: rgba(255, 255, 255, 0.0);
            border: 1px solid #ffffff;
            margin-bottom: 50px;

            &__link {
                font-size: 13px;
                line-height: 1.2;
                font-weight: 700;
                color: #ffffff;
            }

        }
    }

    &__tit__card {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
        padding-bottom: 10px;
    }

    &__img {
        width: 261px;
        height: 280px;
        padding-bottom: 10px;
        position: relative;
        z-index: 3;

        &:hover {
            filter: brightness(0.4)
        }
    }

    &__price {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #f16d7f;
    }

    &__bot {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-around;

        &__numbers {
            width: 261px;
            height: 44px;
            background-color: #ffffff;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;
            color: #c4c4c4;
            padding-top: 10px;
            letter-spacing: 5px;

            &__svg {
                margin-top: 8px;
                padding-right: 5px;
            }

            &__svg2 {
                fill: #ef5b70;
                transform: rotate(180deg);
            }


        }

        &__but {
            width: 150px;
            height: 44px;
            background-color: #ffffff;
            border: 1px solid #ef5b70;
            border-radius: 3px;
            font-family: Lato;
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;
            color: #ef5b70;
        }
    }
}

.content__bottom {

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 23px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &__right {
        margin-top: 110px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 80px;
        background-color: #222224;

        &__img {
            width: 45px;
            height: 45px;
        }

        &__tit {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #fbfbfb;
            text-align: center;
        }

        &__par {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #fbfbfb;
            text-align: justify;
            text-align: center;
            font-size: 14px;
            width: 320px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content {
        width: 100vw;
        min-height: 100vh;
        justify-content: center;
        gap: 40px;
    }

    .product__block__top {
        margin-top: 20px;
        display: flex;
        // gap: 87px;
        row-gap: 20px;
        column-gap: 87px;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;

        &_line {
            justify-content: center;
        }
    }

    .catalog {
        &__card {
            grid-template-columns: repeat(2, 230px);
            grid-template-rows: repeat(4, 340px);
        }

        &__bot {
            justify-content: center;
        }
    }

    .content__bottom__right {
        flex-direction: column;
        gap: 23px;
    }

    .content__bottom__block {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .product__block__top {
        display: flex;
        gap: 0px;
        flex-direction: column;
    }

    .product__block__top_line {
        width: 100vw;
        height: 80px;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        gap: 13px;
        align-items: center;
        justify-content: flex-start;
    }

    .product {
        padding: 10px;
        width: 100vw;

        &__details__block {
            padding-right: 0;
        }

        &__line {
            gap: 39px;
        }

        &__tit__top {
            justify-content: center;
            gap: 38px;
        }

        &__button {
            justify-content: center;
        }

        &__forms {
            justify-content: center;
        }
    }

    .catalog__card {
        grid-template-columns: repeat(1, 230px);
    }

    .content__bottom__right {
        gap: 0;
    }

    .content__bottom__block {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}