@import "/maket/style/base.css";


.content {
    z-index: 1;
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 119px;

    &__img {
        width: 597px;
        height: 724px;
    }

    &__information__block {
        position: absolute;
        margin-top: -60px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 1141px;
        height: 730px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;

        &__link {
            margin-top: 30px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #f16d7f;
            border-bottom: 3px solid #eaeaea;

        }

        &__titl {
            margin-top: 34px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 900;
            text-transform: uppercase;
            color: #4d4d4d;
            margin-bottom: 67px;
        }

        &__par {
            display: block;
            text-align: center;
            padding-left: 260px;
            padding-right: 260px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #5e5e5e;
            padding-bottom: 30px;

            &__span {
                padding-left: 20px;
                font-size: 14px;
                line-height: 24px;
                font-weight: 700;
                color: #b9b9b9;

                &__2 {
                    padding-top: 28px;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 700;
                    color: #2f2f2f;
                }
            }
        }

        &__price {
            display: block;
            padding-top: 55px;
            padding-bottom: 43px;
            font-size: 24px;
            line-height: 24px;
            font-weight: 700;
            color: #ef5b70;
            border-bottom: 3px solid #eaeaea;
        }
    }

    &__add {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        gap: 53px;

        &__but {
            padding-left: 300px;
            padding-right: 300px;

            &__button {
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                color: #ef5b70;
                display: flex;
                border: 1px solid #ef5b70;
                width: 537px;
                height: 55px;
                background-color: #ffffff;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: center;
                gap: 10px;
            }
        }
    }

    &__charact {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: stretch;
        justify-content: center;
        padding-bottom: 28px;

        &__titl {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #2f2f2f;
        }

        &__detail {
            padding-top: 12px;
            padding-bottom: 13px;
            display: block;
            width: 144px;
            height: 35px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
        }


    }
}

.advertising {
    // position: absolute;
    z-index: 4;
    margin-top: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &__titl {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        display: block;
        text-align: center;
    }

    &__product {
        padding-top: 100px;
        display: flex;
        gap: 30px;
        margin-bottom: 75px;


        &__card {
            display: block;
            width: 261px;
            height: 280px;
            background-color: #e9e9e9;
            text-align: center;

            &__img {
                padding-top: 5px;
                height: 260px;
            }

            &__name {
                padding-top: 24px;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #6f6e6e;
                padding-bottom: 16px;
                text-align: left;
                padding-left: 20px;

                &__span {
                    padding-top: 10px;
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #6f6e6e;
                    padding-bottom: 16px;
                    text-align: left;
                    padding-left: 20px;
                }
            }

            &__price {
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: #f16d7f;
                text-align: left;
                padding-left: 20px;
            }


        }


    }

}