@import "/course2/maket/style/base.css";
* {
  box-sizing: content-box;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.content__block {
  font-size: 16px;
  line-height: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding-top: 33px;
  padding-bottom: 33px;
  border-bottom: 1px solid #e8e8e8;
}
.content__block__shipping-adress {
  display: flex;
  justify-content: start;
  gap: 130px;
}
.content__block__shipping-adress__head {
  margin-top: 89px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  border-bottom: 1px solid #e8e8e8;
}
.content__block__shipping-adress__left {
  padding-left: 25px;
}
.content__block__shipping-adress__titl {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  padding-top: 39px;
  padding-bottom: 15px;
}
.content__block__shipping-adress__titl__but {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  padding-top: 34px;
}
.content__block__shipping-adress__titl__but__img {
  width: 14px;
  padding-right: 5px;
}
.content__block__shipping-adress__par {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
}
.content__block__shipping-adress__par__det {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  padding-top: 34px;
}
.content__block__shipping-adress__but {
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-top: 39px;
  margin-bottom: 50px;
}
.content__block__shipping-adress__but__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  padding-left: 32px;
}
.content__block__shipping-adress__forms {
  padding-top: 27px;
}
.content__block__shipping-adress__forms__email {
  display: flex;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}
.content__block__shipping-adress__forms__email__pl {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.content__block__shipping-adress__forms__par {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}
.content__block__shipping-adress__forms em {
  padding-left: 3px;
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
  }
  header {
    width: 100vw;
    min-height: 10vh;
    flex-wrap: wrap;
  }
  header .browse__buttom {
    display: none;
  }
  header .search {
    width: 105px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
  }
  header .header__search-img {
    width: 25px;
    height: 20px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  header .header__left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 140px;
    justify-content: flex-start;
  }
  header .user__buttom {
    display: none;
  }
  nav {
    width: 100vw;
    font-size: 10px;
    min-height: 74px;
  }
  nav .nav_top {
    gap: 21px;
  }
  .bread__crumb {
    width: 100vw;
    height: 148px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    gap: 30px;
  }
  .content {
    width: 100vw;
  }
  .content__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2% 3%;
    padding: 0;
    width: 100vw;
  }
  .content__block__shipping-adress {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
  .content__block__shipping-adress__head {
    margin: 23px;
    text-align: center;
  }
  .subscribe {
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
  }
  .subscribe__pict {
    display: flex;
    flex-direction: column;
  }
  .footer {
    width: 100vw;
    height: 50vh;
    margin-top: 0;
    text-align: start;
    padding-left: 10px;
  }
  .footer .footer__container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    gap: 30px;
    padding-left: 30px;
  }
  .footer .footer__logo__par {
    width: 481px;
    text-align: justify;
    font-size: 11px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
  }
  .footer .footer__nav {
    margin-top: -20px;
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
  }
  .footer .footer__nav__link {
    font-size: 13px;
  }
  .footer .footer__nav__company__tit {
    font-size: 13px;
    line-height: 23px;
    font-weight: 700;
  }
  .footer .footer__nav__information__tit {
    font-size: 13px;
    line-height: 23px;
    font-weight: 700;
  }
  .footer .footer__nav__shop__category__tit {
    font-size: 13px;
    line-height: 23px;
    font-weight: 700;
  }
}/*# sourceMappingURL=checkout.css.map */