@import "vars";

// 1.В html добавить блок <div class="container"></div>
// 2. Создайте переменную ширины сайта и присвоить ей значение 1200px
// 3. Создайте переменную значения цвета текста сайта, которая будет равна #8A2BE2
// 4. Внутри блока container добавить заголовок “Знакомство с препроцессорами” слово
// препроцессорами необходимо выделить цветом из переменной пункт 3
// 5. Создайте комментарий в вашем коде scss, добавьте в него произвольный текст
.tittle {
    &__span {
        color: $colorSelectSite;
    }
}

// 1. Создайте меню сайта 

//2. Используя вложенность препроцессоров, необходимо переписать код css в препроцессорный
.nav {
    display: flex;
    gap: $gap16;

    &__link {
        text-decoration: none;
    }
}

//3. Добавить переменную gap, и заменить ее у селектора .nav

//Задание 4 (тайминг 15 минут)
// 1. Дан код html
// <div class="content">
//  <div class="content__item"></div>
//  <div class="content__item"></div>
//  <div class="content__item"></div>
//  <div class="content__item"></div>
// </div>
// 1. Для блока content добавить стили display: flex;
// 2. Создать вложенность с использованием препроцессоров
// 3. Для блока content__item добавить значение ширины, равное ¼ от переменной ширины container
// 4. Для блока content добавить gap равный переменной из задания 3
// 5. Создать новую переменную, равную: 1px solid #000;
// 6. Добавить стили для content__item. используя переменную из пункта 6
//  height: 200px;
//  border: 1px solid #000;

.content {
    display: flex;
    gap: $gap16;

    &__item {
        width: ($widhtSite/4);
        height: 200px;
        border: $newBorder;
    }
}