$colorSpan: #f16d7f;

* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

body {
    font-family: Lato;
}

a {
    text-decoration: none;
    color: #898989;
    transition: 1s;

    &:hover {
        color: $colorSpan;
    }
}

li {
    text-decoration: none;
    list-style: none;
    color: #898989;
}

// hr {
//     width: 38px;
//     width: 38px;
//     border: 2px solid #d6d6d6;
// }

header {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    margin-top: 30px;
    margin-bottom: 16px;

    &___brand {
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;
    }

    &__search {
        padding-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: row;

    }

    &____search-img {
        width: 25px;
        height: 25px;
        padding-top: 100px;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 0px 3px 3px 0px;
        fill: #898989;
    }

}


.header__left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 140px;


    &__logo {
        padding-right: 20px;
    }

    &__browse {
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        width: 100px;

        &__svg {
            width: 15px;
            height: 15px;
            position: absolute;
            padding-top: 3px;

        }
    }

    &__search {
        display: flex;
        text-align: center;
    }
}

summary {
    display: block;
    text-align: center;
    // position: relative;
}

summary::-webkit-details-marker {
    display: none;
}


.browse__buttom {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-left: 30px;
    text-align: center;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    position: relative;

    &__search {
        padding-top: 100px;
        display: flex;
        text-align: center;
    }

    &____search-img {
        width: 25px;
        height: 25px;
        padding-top: 100px;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 0px 3px 3px 0px;
        fill: #898989;
    }

    &__box {

        padding: 20px;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        width: 130px;
        z-index: 6;
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        background-color: #fff;


        &::before {
            content: "";
            display: block;
            width: 30px;
            height: 16px;
            position: absolute;
            top: -9px;
            left: 80px;
            transform: rotate(45deg);
            border-top: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            background-color: #fff;
        }

        &__tit {
            font-size: 16px;
            line-height: 32px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #232323;
            padding-bottom: 25px;
            padding-top: 25px;
            display: block;
        }

        &__link {
            font-size: 14px;
            line-height: 28px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #232323;

            &:hover {
                color: $colorSpan;
            }
        }
    }

}

summary {
    display: block;
    text-align: center;
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}


.browse__buttom {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-left: 30px;
    width: 60px;
    text-align: center;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;

    &__box {
        position: absolute;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        padding: 20px;
        display: grid;

    }



}

.browse_buttom_box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -9px;
    left: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    background-color: #fff;
}

.header__search {
    padding-left: -100px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search {
    width: 200px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    left: 20px;

}

.header__search-img {
    width: 25px;
    height: 25px;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    fill: #898989;
}

.header__right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
    gap: 10px;
    margin-top: -20px;
}

.user {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;

    &__buttom {
        width: 140px;
        padding: 10px;
        margin-left: 10px;
        text-align: center;
        background-color: #f16d7f;
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        border: none;

        &__item {
            width: 262px;
            background-color: #ffffff;
            border-radius: 5px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: absolute;
            align-content: center;
            justify-content: center;
            align-items: flex-start;
            z-index: 6;
            border-top: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            background-color: #fff;

            &__checkout {
                text-decoration: none;
                width: 225px;
                height: 50px;
                background-color: #ffffff;
                border: 1px solid #f16d7f;

                &:hover {
                    background-color: #f16d7f;
                }

                &__link {
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #f16d7f;

                    &:hover {
                        font-size: 14px;
                        line-height: 1.2;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #ffffff;
                    }

                }
            }

            &__gocart {
                text-decoration: none;
                width: 225px;
                height: 50px;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                margin-bottom: 10px;

                &__link {
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #4a4a4a;

                    &:hover {
                        font-size: 14px;
                        line-height: 1.2;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #f16d7f;
                    }
                }
            }

            &__par {
                display: flex;
                gap: 20px;
                align-items: flex-start;
                padding-bottom: 5px;
                border-bottom: 1px solid #c0c0c0;

                &__tit {
                    font-size: 12px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #222222;
                }

                &__stars {
                    padding-top: 10px;

                    &__img {
                        width: 12px;

                    }
                }

                &__price {
                    padding-top: 10px;
                    font-size: 12px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #f16d7f;

                    &__span {
                        line-height: 1.2;
                        font-weight: 400;
                        text-transform: uppercase;
                        color: #f16d7f;
                        font-size: 10px;
                    }
                }

                &__del {
                    display: block;
                    width: 20px;
                }
            }

            &__total__price {
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: #222222;
                padding-bottom: 10px;

                &__span {
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #222222;
                    padding-left: 100px;
                }
            }


        }
    }

    &__img {
        position: absolute;
        width: 16px;
        height: 16px;
        margin-right: 20px;
    }
}

nav {
    position: relative;

}

.nav_top {
    height: 51px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 40px;

    &__nav_top_link {
        text-decoration: none;
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;

    }


}

.nav_top_link:hover .menu-box {
    display: flex;
}


.menu-box {
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    padding: 20px;
    top: 43px;
    z-index: 2;
    display: none;

    &__titl {
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;
        padding-bottom: 8px;
        border-bottom: 1px solid #e8e8e8;
        max-width: 300px;
    }
}

.menu-box-titl {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    padding-bottom: 8px;
    border-bottom: 1px solid #e8e8e8;
    max-width: 300px;
}

.menu-box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -9px;
    left: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    background-color: #fff;
}

.last:hover .menu-box::before {
    right: 320px;
    left: auto;
}

.last:hover .menu-box {
    right: 0;
    left: auto;
}

.menu-item {
    margin-right: 46px;
}

.menu-item:last-of-type {
    margin-right: 0;
}

.item-link {
    display: block;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;

    &:hover {
        color: #f16d7f;
    }
}

.item-link .menu-box-item-img {
    padding-top: 22px;
    width: 255px;
    height: 118px;
}

.item-text-cont {
    position: relative;
}

.item-text {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
}

span {
    color: $colorSpan;

    &__fashion {
        font-size: 40px;
    }

    &__d {
        font-weight: 900;
    }

    &__sale {

        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;
        font-size: 30px;
    }

    &__subscribe_pict__par__bot {

        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #f16d7f;
    }
}

.span2 {
    font-size: 40px;
}

.bread__crumb {
    height: 148px;
    background-color: #f8f3f4;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;

    &__titl {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #f16d7f;
    }

    &__link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #636363;

        &__span {
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
            font-weight: 700;
            color: #f16d7f;
        }

    }
}

.subscribe {
    margin-top: 100px;
    height: 448px;
    background-size: cover;
    width: 100%;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    &::before {
        content: url("/maket/img/back.png");
        position: absolute;
        opacity: 40%;
        z-index: -1;
    }

    &__container {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
        gap: 80px;
    }

    &__pict {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        &::after {
            content: url("/maket/img/line2.png");
            margin-right: 5em;
        }

        &__par {
            text-align: justify;
            font-size: 16px;
            padding-bottom: 20px;
            line-height: 26px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 0.025em;
            color: #222224;
            width: 300px;

            &::before {
                content: url('/maket/img/Intersect.png');
            }

            &__bot {
                font-size: 12px;
                line-height: 14px;
                font-weight: 300;
                color: #222224;
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #f16d7f;


                &__span {
                    margin-top: -10px;
                    line-height: 26px;
                    font-weight: 700;
                    letter-spacing: 0.025em;
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 300;
                    color: #222224;
                }
            }

        }
    }

    &__form {
        position: relative;
        text-decoration: none;
        display: flex;
        text-align: center;
        justify-content: flex-end;
        text-decoration: none;
        flex-direction: column;
        align-content: center;
        align-items: flex-end;
        flex-wrap: wrap;

        &__tit {
            margin-top: -300px;
        }

        &__par {
            padding-left: 30px;
            padding-bottom: 20px;
        }
    }

    &__but {
        position: absolute;
        padding-top: 10px;
        margin-left: -60px;
        border-left: 20px;
        width: 104px;
        height: 46px;
        background-color: #f16d7f;
        border-radius: 0px 23px 23px 0px;
        border: none;
        height: 50px;
    }

}

.email {
    justify-content: left;
    height: 46px;
    border-radius: 23px;

    &__but {
        text-align: center;
        opacity: 0.67;
        font-size: 14px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #222224;
        border: none;
        width: 300px;
        border-radius: 23px;
        background-color: #e1e1e1;
        height: 50px;
    }
}

.footer {
    margin-top: 200px;

    &__container {
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: stretch;
        gap: 30px;
    }

    &__logo {
        padding-left: 20px;

        &__img {
            margin-top: -200px;
        }
    }

    &__brang__logo {
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #3e3e40;
        display: block;
        padding-left: 60px;
        margin-top: -35px;
        padding-bottom: 20px;
    }

    &__logo__par {

        width: 500px;
        text-align: right;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #898989;

    }

    &__nav {
        margin-top: -20px;
        display: flex;
        gap: 50px;

        &__company {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;

            &__tit {
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: $colorSpan;
            }
        }

        &__information {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;

            &__tit {
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: $colorSpan;
            }
        }

        &__shop__category {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;

            &__tit {
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: $colorSpan;
            }


        }
    }

    &__foot {
        height: 100px;
        background-color: #e6e6e6;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        padding-bottom: 50px;

        &__tit {
            // padding-top: 20px;
            // padding-left: 20px;
            text-align: start;
            font-size: 16px;
            line-height: 42px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #7a7a7a;
        }

        &__logo {
            display: flex;
            justify-content: right;
            gap: 20px;
        }

        &__svg {
            width: 32px;
            height: 32px;
            padding: 3px;
            background-color: #ffffff;
            border: 1px solid #ffffff;


            &:hover {
                background-color: $colorSpan;
                fill: #ffffff;
                stroke: #ffffff;
                border: 1px solid $colorSpan;
            }
        }


    }

}