@import "/course2/maket/style/base.css";
$colorSpan: #f16d7f;

.content__welcome {
    display: grid;
    align-items: center;
    justify-content: space-around;
    justify-items: stretch;
    gap: 30px;
    position: static;

    &__text {
        position: absolute;
        margin-top: 150px;
        width: 50%;
        text-align: start;
        padding-left: 20px;
        font-size: 60px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.025em;
        color: #222222;
        border-left: 30px solid #f16d7f;
    }

    &__img {
        position: static;
        height: 665px;
        background-color: #e8e8e8;
    }
}

.sale {
    &__card {
        margin-top: 100px;
        display: flex;
        gap: 30px;
        position: relative;
        margin-bottom: 100px;
        justify-content: start;

        &__card__top {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        &__card__bot {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    &__title {
        position: absolute;
        display: block;
        border: #cdcdcc;
        background-color: #fff;
        width: 180px;
        height: 80px;
        margin-top: -200px;
        padding-top: 20px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222222;
        text-align: center;

    }
}

.catalog {

    &__tit {
        font-size: 30px;
        line-height: 54px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #222222;
        text-align: center;
    }

    &__par {
        font-size: 14px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #9f9f9f;
        text-align: center;
    }

    &__card {
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(8, 140px);
        grid-template-rows: repeat(2, 360px);
        gap: 0px;
        justify-items: end;
        align-items: start;
        justify-content: center;
        background-color: #ffffff;
        border: 1px solid #ffffff;


        &-link {
            font-size: 13px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;

            &:hover {
                box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
            }
        }
    }

    &__tit__card {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    &__img {
        width: 261px;
        height: 280px;
        padding-bottom: 10px;
        position: relative;
        z-index: 3;

        // &:hover {
        //     filter: brightness(0.4);
        //     transition: 3ms;
        // }
    }

    &__price {
        padding-left: 10px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #f16d7f;
        padding-bottom: 10px;
    }
}

.card {
    position: relative;

    &__but {
        opacity: 1%;
        z-index: 5;
        text-decoration: none;
        position: absolute;
        margin-top: 50%;
        margin-left: 30%;
        width: 123px;
        height: 45px;
        padding-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.0);
        border: 1px solid #ffffff;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
        text-align: center;

        &__img {
            width: 23px;
            height: 22px;
            padding-right: 5px;
            padding-top: 10px;
        }

        &__link {
            margin-bottom: 10px;
            color: #ffffff;
        }

        &:hover {
            transition: 2ms;
            opacity: 100%;
            background-color: rgba(58, 56, 56, 0.83);
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);

        }


    }
}

.bottom__link {
    background-color: $colorSpan;
    width: 212px;
    height: 48px;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
}

.content__bottom {
    display: flex;

    &__img {
        position: relative;
        width: 100%;
        height: 80%;
        opacity: 70%;
    }

    &__text {
        font-size: 53.7px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: black;
        position: absolute;
        text-align: start;
        margin-top: -300px;
        margin-left: 50px;
        font-size: 53.7px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;

        &____span {
            font-size: 32.2px;
            margin-top: -300px;
            font-size: 53.7px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #ffffff;

        }
    }

    &__right {
        float: right;
        width: 50%;
        height: 529px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: center;
        justify-content: flex-end;
        background-color: #222224;

        &__img {
            padding-left: 20px;
            width: 63px;
            height: 45px;

        }

        &__tit {
            padding-left: 100px;
            margin-top: -40px;
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #fbfbfb;
            text-align: justify;
        }

        &__par {
            padding-left: 100px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #fbfbfb;
            text-align: justify;
            padding-right: 20px;
            padding-bottom: 10px;
        }
    }

    &__left {
        background-image: url("/course2/maket/img/back_girl.png");
        width: 50%;
        background-size: cover;
        padding-right: 10%;

    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .content__welcome {
        padding: 10vh;
        justify-content: center;
        padding: 2%;
        min-width: 100vw;

        &__img {
            height: 60vh;
            width: 100vw;
        }

        &__text {
            font-size: 43px;
            border-left: 13px solid #f16d7f;
        }
    }

    .sale__card {
        margin-top: 50px;
        display: flex;
        gap: 30px;
        position: relative;
        margin-bottom: 100px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .catalog {
        width: 100vw;

        &__card {
            grid-template-columns: repeat(4, 140px);
        }
    }

    .content__bottom {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;

        &__left {
            background-image: url(/course2/maket/img/back_girl.png);
            width: 87%;
            background-size: cover;
            padding-right: 10%;
        }

        &__text {
            margin-top: -178px;
            font-size: 46.7px;
        }

        &__right {
            width: 87%;
            height: 401px;
        }
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    body {
        padding: 20px auto;
    }

    .sale__card {
        margin-top: 100px;
        display: flex;
        gap: 30px;
        position: relative;
        margin-bottom: 100px;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: stretch;
    }

    .catalog__card {
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: repeat(2, 360px);
        gap: 0px;
        justify-items: end;
        align-items: start;
        justify-content: center;
        background-color: #ffffff;
        border: 1px solid #ffffff;
    }

    .content__bottom {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;

        &__left {
            background-image: url(/course2/maket/img/back_girl.png);
            width: 100%;
            background-size: cover;
            padding-right: 10%;
        }

        &__text {
            margin-top: -178px;
            font-size: 46.7px;
        }

        &__right {
            width: 100%;
            height: 401px;
        }
    }
}